.logo {
  background-image: url("../img/logo.png");
  height: 100px;
  width: 100px;
  background-size: contain;
}

#Project-image{
  width: 348px;
}

#black{
  background-color: black;
  font-size: 50px;
}

#slide img{
  width: 100%;
}

#foto-games{
  width: 49%;
}

#game-platforms{
  height: 55px;
}

#button-game{
  width: 49%;
}

#button-sport{
  width: 100%;
}

.contact{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
}

.contact-title{
  margin-top: 100px;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}

form{
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form-control{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-size: 18px;
  margin-bottom: 16px;
}

input{
  height: 45px;
}

form.submit{
  background: #ff5722;
  border-color: transparent;
  font-weight: bold;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover{
  background-color: #f44336;
  cursor: pointer;
}

footer {
	position:fixed;
	left: 0px;
	bottom: 0px;
	height:40px;
	width:100%;

	color: white;
	text-align: center;
}

#footer-text {
	margin: 0 auto;
	color: #800000;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
