.logo {
  background-image: url("../img/logo.png");
  height: 100px;
  width: 100px;
  background-size: contain;
}

#black{
  background-color: black;
  font-size: 50px;
}

#foto-games{
  width: 49%;
}

#game-platforms{
  height: 55px;
}

#button-game{
  width: 49%;
}
