.logo {
  background-image: url("../img/logo.png");
  height: 100px;
  width: 100px;
  background-size: contain;
}

#Project-image{
  width: 348px;
}

#black{
  background-color: black;
  font-size: 50px;
}

#foto-games{
  width: 49%;
}

#game-platforms{
  height: 55px;
}

#button-game{
  width: 49%;
}

#button-sport{
  width: 100%;
}

footer {
	position:fixed;
	left: 0px;
	bottom: 0px;
	height:40px;
	width:100%;

	color: white;
	text-align: center;
}

#footer-text {
	margin: 0 auto;
	color: #800000;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
